[submodule "submodule-example"]
	path = submodule-example
	url = https://github.com/chemipaine/submodule-example.git
[submodule "submodule-example2"]
	path = submodule-example2
	url = https://github.com/chemipaine/submodule-example2.git
